
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <input type="submit" name="" value="Login" routerLink="/signin"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Employee</h3>
                    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="FirstName" name="FirstName" placeholder="First Name *" formControlName="FirstName" />
                                    <div *ngIf="f.FirstName.touched && f.FirstName.invalid" class="alert alert-danger">
                                        <div *ngIf="f.FirstName.errors.required">Name is required.</div>
                                        <div *ngIf="f.FisrtName.errors.minlength">Name should be 3 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" [(ngModel)]="LastName" name="LastName" placeholder="Last Name *" formControlName="LastName" />
                                    <div *ngIf="f.LastName.touched && f.LastName.invalid" class="alert alert-danger">
                                        <div *ngIf="f.LastName.errors.required">Last name is required.</div>
                                        <div *ngIf="f.LastName.errors.minlength">Last name should be 3 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  id="" name="password" [(ngModel)]="password" placeholder="Password *" formControlName="password" />
                                    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                                        <div *ngIf="f.password.errors.required">Password is required.</div>
                                        <div *ngIf="f.password.errors.minlength">Password should be 6 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  id="" name="confirmpassword" [(ngModel)]="confirmpassword" placeholder="Confirm Password *" formControlName="confirmPassword" />
                                    <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
                                        <div *ngIf="f.confirmPassword.errors.required">confirm Password is required.</div>
                                        <div *ngIf="f.confirmPassword.errors.minlength">Password should be 6 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline"> 
                                            <input type="radio" [(ngModel)]="gender" name="gender" id="gender" value="male" formControlName="gender" >
                                            <span> Male </span> 
                                        </label>
                                        <label class="radio inline"> 
                                            <input type="radio" [(ngModel)]="gender" name="gender" id="gender" value="female" formControlName="gender">
                                            <span>Female </span> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control"  id="email" name="email" [(ngModel)]="email" placeholder="Your Email *" formControlName="email"/>
                                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                                        <div *ngIf="f.email.errors.required">Email is required.</div>
                                        <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>                                    
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10"  name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" placeholder="Your Phone *" formControlName="number" />
                                    <div *ngIf="f.number.touched && f.number.invalid" class="alert alert-danger">
                                        <div *ngIf="f.number.errors.required">Number is required.</div>
                                        <div *ngIf="f.number.errors.minlength">Number should be 9 character.</div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="selected" [(ngModel)]="selected" formControlName="selected">
                                        <option class="hidden"  selected>Please select your Post</option>
                                        <option >Comptable</option>
                                        <option >Directeur charge des produition</option>
                                        <option >Directeur charge des finances</option>
                                        <option >Directeur charge de la vente</option>
                                        <option >Directeur charge de services secondaires</option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="Date of Birth"  id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" formControlName="date" />
                                </div>
                                <input type="submit" class="btn btn-primary"  value="Register" />
                            </div>
                        </div>
                    </form>                           
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Apply as a Hirer</h3>
                    <form [formGroup]="form1" (ngSubmit)="submit1()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" name="FirstName" id="FirstName" formControlName="name1"/>
                                    <div *ngIf="f1.name1.touched && f1.name1.invalid" class="alert alert-danger">
                                        <div *ngIf="f1.name1.errors.required">First Name is required.</div>
                                        <div *ngIf="f1.name1.errors.minlength">First Name should be 3 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" name="LastName" id="LastName" formControlName="Lastname1"/>
                                    <div *ngIf="f1.Lastname1.touched && f.Lastname.invalid" class="alert alert-danger">
                                        <div *ngIf="f1.Lastname1.errors.required">Last name is required.</div>
                                        <div *ngIf="f1.Lastname1.errors.minlength">Last name should be 3 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" name="email" id="email"  value="" formControlName="email1"/>
                                    <div *ngIf="f1.email1.touched && f.email1.invalid" class="alert alert-danger">
                                        <div *ngIf="f1.email1.errors.required">Email is required.</div>
                                        <div *ngIf="f1.email1.errors.email">Please, enter valid email address.</div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" name="" id=""  value="" formControlName="password1" />
                                    <div *ngIf="f1.password1.touched && f1.password1.invalid" class="alert alert-danger">
                                        <div *ngIf="f1.password1.errors.required">Password is required.</div>
                                        <div *ngIf="f1.password1.errors.minlength">Password should be 6 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" name="" id=""  value="" formControlName="confirmPassword1" />
                                    <div *ngIf="f1.confirmPassword1.touched && f1.confirmPassword1.invalid" class="alert alert-danger">
                                        <div *ngIf="f1.confirmPassword1.errors.required">confirm Password is required.</div>
                                        <div *ngIf="f1.confirmPassword1.errors.minlength">Password should be 6 character.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" name="phoneNumber" id="phoneNumber"  value="" formControlName="number1" />
                                    <div *ngIf="f1.number1.touched && f1.number1.invalid" class="alert alert-danger">
                                        <div *ngIf="f1.number1.errors.required">Number is required.</div>
                                        <div *ngIf="f1.number1.errors.minlength">Number should be 9 character.</div>
                                    </div>
                                </div>
                                <button type="submit" class="btnRegister"  value="Register" [disabled]="!form1.valid" routerLink="/home">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
     